body
{
text-align: center;
    background-color: cornflowerblue;
}

h1
{
font-size: 50px;
}

img
{
    width: 500px;
}

.imgs
{
    display: flex;
    justify-content: center;
}

.ss
{
    margin-left: 25px;
    margin-right: 25px;
    background-color: aliceblue;
}

p
{
    font-family: 'Nerko One', cursive;
    font-size: 25px;
}